<mat-form-field>
  <mat-label>Enter your email</mat-label>
  <input
    matInput
    placeholder="email@example.com"
    [formControl]="email"
    required
  />
  @if (email.invalid) {
  <mat-error>{{ getEmailErrorMessage() }}</mat-error>
  }
</mat-form-field>
<mat-form-field>
  <mat-label>Enter your password</mat-label>
  <input
    matInput
    [formControl]="password"
    required
    [type]="hide ? 'password' : 'text'"
  />

  <button
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  @if(password.invalid){
  <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
  }
</mat-form-field>
<button mat-flat-button color="primary" (click)="register()" type="submit">
  Submit
</button>
