.footer {
  max-height: 30rem;
  background-color: #ffab40;
  margin-bottom: 10rem;
}

.contents {
  display: flex;
  justify-content: space-between;
  margin-inline: 15%;
}
span {
  margin-left: 10px;
}
img {
  margin-top: 3rem;
}
