<div class="footer">
  <div class="contents">
    <div>
      <h1>Contact</h1>
      <br />
      <mat-icon>map</mat-icon>
      <span>{{ contact_address }}</span> <br />

      <mat-icon>email</mat-icon>
      <span>{{ contact_email }}</span
      ><br />

      <mat-icon>phone</mat-icon>
      <span>{{ contact_number }}</span>
    </div>
    <div class="map-location">
      <img
        height="184px"
        width="240px"
        src="../../../../assets/images/map-location.png"
        alt="location"
      />
    </div>
  </div>
</div>
