<mat-toolbar color="accent" class="top-bar">
  <span class="spacer"></span>

  <span>Contact: {{ contact_number }}</span>
  <a [routerLink]="['/login']"> Conectează-te </a>

  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<div>
  <mat-toolbar color="primary" class="routes-bar">
    <div class="logo">BEES</div>
    <div class="links">
      <a [routerLink]="['/acasa']" routerLinkActive="selected">ACASA</a>
      <a [routerLink]="['/produse']" routerLinkActive="selected">PRODUSE</a>
      <a [routerLink]="['/despre']" routerLinkActive="selected">DESPRE</a>
      <a [routerLink]="['/contact']" routerLinkActive="selected">CONTACT</a>
    </div>
  </mat-toolbar>
</div>
