<div class="welcome-page">
  <div>
    <h1>Miere de albine naturală</h1>
    <p class="description">
      Descoperă esența dulce a naturii! Mierea noastră naturală aduce gustul
      autentic al stupului în casa ta. De la salcâm la lavandă, avem o gamă
      variată pentru fiecare preferință. Bucură-te de aromele noastre pure și
      sprijină practicile sustenabile și comunitățile locale de albinari.
      Explorează acum și adaugă un strop de dulceață naturală în viața ta!
    </p>
    <button mat-flat-button color="accent">Vezi produsele noastre</button>
  </div>
  <img
    src="../../../../assets/images/miere/Miere-imagine-home.png"
    width="50%"
    alt="imagine-home"
  />
</div>
<mat-toolbar color="accent" class="separator"></mat-toolbar>

<div class="card">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-full border-round"
            />
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
              class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
            />
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ product.name }}
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ "$" + product.price }}
          </div>
          <span>
            <p-button
              icon="pi pi-heart"
              severity="secondary"
              [outlined]="true"
            />
            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
